<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>popclip-textbuddy.png</string>
			<key>Service Name</key>
			<string>Send to TextBuddy</string>
			<key>Title</key>
			<string>Send to TextBuddy</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Send to TextBuddy</string>
	<key>Extension Identifier</key>
	<string>com.fncll.popclip.extension.sendtotextbuddy</string>
	<key>Extension Name</key>
	<string>Send to TextBuddy</string>
	<key>Required OS Version</key>
	<string>10.7</string>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>